.button-wrapper{
    height: 4em;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: lighter;
    font-size: 1.4em;
    background-color: #e0e1e6;
    color: #888888;
    flex: 1;
    outline: 1px solid #888888;
} 

.operator{
    background-color: #fe9241;
    color: #ffffff;
}

/*Seven button*/
div#seven:hover {
    cursor: pointer;
    background: #CCC;
    color: white;
    font-weight: 700;
}

div#seven:active {
    cursor: pointer;
	background: #B3C2D3;
	text-align: center;
}

/*Eight button*/
div#eight:hover {
    cursor: pointer;
    background: #CCC;
    color: white;
    font-weight: 700;
}

div#eight:active {
    cursor: pointer;
	background: #B3C2D3;
	text-align: center;
}

/*Nine button*/
div#nine:hover {
    cursor: pointer;
    background: #CCC;
    color: white;
    font-weight: 700;
}

div#nine:active {
    cursor: pointer;
	background: #B3C2D3;
	text-align: center;
}

/*Four button*/
div#four:hover {
    cursor: pointer;
    background: #CCC;
    color: white;
    font-weight: 700;
}

div#four:active {
    cursor: pointer;
	background: #B3C2D3;
	text-align: center;
}

/*Five button*/
div#five:hover {
    cursor: pointer;
    background: #CCC;
    color: white;
    font-weight: 700;
}

div#five:active {
    cursor: pointer;
	background: #B3C2D3;
	text-align: center;
}

/*Six button*/
div#six:hover {
    cursor: pointer;
    background: #CCC;
    color: white;
    font-weight: 700;
}

div#six:active {
    cursor: pointer;
	background: #B3C2D3;
	text-align: center;
}

/*One button*/
div#one:hover {
    cursor: pointer;
    background: #CCC;
    color: white;
    font-weight: 700;
}

div#one:active {
    cursor: pointer;
	background: #B3C2D3;
	text-align: center;
}

/*Two button*/
div#two:hover {
    cursor: pointer;
    background: #CCC;
    color: white;
    font-weight: 700;
}

div#two:active {
    cursor: pointer;
	background: #B3C2D3;
	text-align: center;
}

/*Three button*/
div#three:hover {
    cursor: pointer;
    background: #CCC;
    color: white;
    font-weight: 700;
}

div#three:active {
    cursor: pointer;
	background: #B3C2D3;
	text-align: center;
}

/*Zero button*/
div#zero:hover {
    cursor: pointer;
    background: #CCC;
    color: white;
    font-weight: 700;
}

div#zero:active {
    cursor: pointer;
	background: #B3C2D3;
	text-align: center;
}

/*Operator Divide*/
div#opDivide:hover {
    cursor: pointer;
    background: #fe8c34;
    color: white;
    font-weight: 700;
}

div#opDivide:active {
    cursor: pointer;
	background: #e46401;
	text-align: center;
}

/*Operator Multiply*/
div#opMultiply:hover {
    cursor: pointer;
    background: #fe8c34;
    color: white;
    font-weight: 700;
}

div#opMultiply:active {
    cursor: pointer;
	background: #e46401;
	text-align: center;
}

/*Operator Add*/
div#opAdd:hover {
    cursor: pointer;
    background: #fe8c34;
    color: white;
    font-weight: 700;
}

div#opAdd:active {
    cursor: pointer;
	background: #e46401;
	text-align: center;
}

/*Operator Subtract*/
div#opSubtract:hover {
    cursor: pointer;
    background: #fe8c34;
    color: white;
    font-weight: 700;
}

div#opSubtract:active {
    cursor: pointer;
	background: #e46401;
	text-align: center;
}

/*Period*/
div#period:hover {
    cursor: pointer;
    background: #CCC;
    color: white;
    font-weight: 700;
}

div#period:active {
    cursor: pointer;
	background: #B3C2D3;
	text-align: center;
}

/*Equals*/
div#equal:hover {
    cursor: pointer;
    background: #CCC;
    color: white;
    font-weight: 700;
}

div#equal:active {
    cursor: pointer;
	background: #B3C2D3;
	text-align: center;
}
