.clear-btn{
    height: 4em;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: lighter;
    font-size: 1.4em;
    background-color: #c5c3cd;
    color: #000000;
    flex: 1;
    outline: 1px solid #888888;
}

/*Clear*/
div#clear:hover {
    cursor: pointer;
    background: #aeacb9;
    color: white;
    font-weight: 700;
}

div#clear:active {
    cursor: pointer;
	background: #B3C2D3;
	text-align: center;
}