.app{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
  background-color: #17181c;
  /* background-color: #504B48; */
  background-image: url(image/ink_splash.png);
  background-position: center;
  background-repeat: no-repeat;
}

.calc-wrapper{
  width: 400px;
  height: 600px;
}

.row{
  display: flex;
  width: 100%;
}